/*
*
*   Moka-platform css file
*
*
*       main colors
*           grey    #F9F9F9
*           red     #FF7C7C
*           blue    #70CBED
*           green   #B7DB4C
*           orange  #FFCF70
*           purple  #C394DB
*
*/


body{
    background-color    :   #F9F9F9; 
    color               :   #222;
    font-family         :   Roboto, sans-serif;
    font-weight         :   400;   
}

#wrapper{
    position            :   relative;    
    margin              :   0 auto;
    width               :   90%;
}

/*
*   main background colors
*/
.bg-purple{
    background-color    :   #C394DB;
}

.bg-red{
    background-color    :   #FF7C7C;
}

.bg-blue{
    background-color    :   #70CBED;
}

.bg-green{
    background-color    :   #B7DB4C;
}

.bg-orange{
    background-color    :   #FFCF70;
}