/*
*
*   Moka-platform css file
*
*
*       main colors
*           grey    #F9F9F9
*           grey    #ccc (border)
*           grey    #e9e9e9 (user info division)
*           red     #FF7C7C
*           blue    #70CBED
*           green   #B7DB4C
*           orange  #FFCF70
*           purple  #C394DB
*
*/


body{
    background-color    :   #F9F9F9; 
    color               :   #222;
    font                :   14px/19px Roboto, sans-serif;
    font-weight         :   400;   
}

p{
    word-wrap           :   break-word;
}

header{
    font-size           :   2em;
    border-bottom       :   1px solid #ccc;
    padding-top         :   20px;
    padding-left        :   16px;
    padding-right       :   16px;
    padding-bottom      :   10px;
    position            :   relative;
}

#headerTitle{
    float               :   left;
    margin-top          :   5px;
}

#toolBar{
    font-size           :   0.6em;
    position            :   relative;
    right               :   0px;
    text-align          :   right;
}

#platformTextStatus{
    display             :   inline-block; 
    vertical-align      :   middle; 
}

.platformIconContainer{
    display             :   inline-block; 
    vertical-align      :   middle;
    width               :   35px;
    height              :   35px;
}

.platformIcon{
    cursor              :   pointer;
}

#platformIconSave{
    display             :   none;
}


.platformIcon:hover{
    opacity             :   0.4;    
}

#settingBox{
    position            :   relative;
    bottom              :   0px;
    left                :   0px;
    width               :   280px;
    background-color    :   #F9F9F9;
    margin-left         :   -260px;
    border              :   1px solid #ccc;
    padding             :   18px;
    text-align          :   left;
    -webkit-box-shadow  :  1px 1px 1px 1px #ccc;       
    box-shadow          :  1px 1px 1px 1px #ccc;    
    display             :   none;
}

#settingTable{
    width               :   100%;
    height              :   80px;
}

#settingTable td{
    vertical-align      :   middle;
    text-align          :   center;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.rotationAnimation{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.8s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
}

#wrapper{
    position            :   relative;    
    margin              :   0 auto;
    width               :   90%;
}

#userInfoContainer{
    position            :   absolute;
    top                 :   80px;
}

.userInfo{
    width               :   160px;
    height              :   20px;
    padding             :   10px;
    background-color    :   #e9e9e9;
    position            :   relative;
    margin-bottom       :   3px;
}

.userInfoContent{
    display             :   inline-block;
    vertical-align      :   middle;
}

.userInfoPerCent{
    font-size           :   0.7em;
    border-right        :   1px solid #222;
    padding-right       :   5px;
    margin-right        :   5px;
}

.userInfoColor{
    width               :   20px;
    height              :   20px;
    display             :   inline-block;
    vertical-align      :   middle;
    position            :   absolute;
    right               :   10px;
}

#playground{
    position            :   relative;    
}

.item{
    border              :   1px solid #ccc;
    display             :   inline-block;
    position            :   absolute;
    background-color    :   #F9F9F9;
    width               :   200px;
}

.itemContent{
    padding             :   10px;
    min-width           :   150px;    
}

.itemContentTitle{
    font-size           :   1.2em;
    font-weight         :   500;
    margin-bottom       :   5px;
}

.itemContributions{    
    width               :   100%;  
    text-align          :   right;
    position            :   absolute;
    bottom              :   -5px;
    right               :   5px;
    
}

.itemContribution{
    width               :   40px;
    height              :   7px;
    display             :   inline-block;
}

.img-fill-div{
    width               :   100%;
}

.umlContent{
    padding             :   0px;
}


.umlTitle{
    text-align          :   center;
    border-bottom       :   1px solid #ccc;
    padding             :   5px;
}

.umlAttributes{
    border-bottom       :   1px solid #ccc;
    padding             :   5px;
}

.umlAttribute{
    font-size           :   0.9em;
}

.umlMethods{
    padding             :   5px;
    margin-bottom       :   5px;
}

.umlMethod{
    font-size           :   0.9em;
}

/*
*   main background colors
*/
.bg-purple{
    background-color    :   #C394DB;
}

.bg-red{
    background-color    :   #FF7C7C;
}

.bg-blue{
    background-color    :   #70CBED;
}

.bg-green{
    background-color    :   #B7DB4C;
}

.bg-orange{
    background-color    :   #FFCF70;
}